._MP {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    >ul {
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        overflow: auto;
    }

    .player {
        //background: linear-gradient(#2582ec, #2553ec);
        background-color: white;
        color: black;
        width: 192px;
        height: 64px;
        display: flex;
        flex-direction: column;
        padding-top: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 8px;
        box-sizing: border-box;
        margin: 10px;
        border: 1px solid royalblue;
        position: relative;

        transition: transform ease .3s;

        .name {
            display: block;
            margin-left: 20px;
            font-size: 22px;
            font-weight: 500;
        }

        .money {
            display: block;
            font-size: 16px;
            margin-top: 2px;
            align-self: stretch;
        }

        label {
            display: flex !important;
        }

        input {
            flex-grow: 1;
            width: 0;
            margin-top: 0 !important;
            margin-left: 0 !important;
            background: none;
            border-bottom: 1px dashed black;

            &::placeholder {
                color: #0008;
            }
        }

        &:hover {
            //box-shadow: 0px 6px 12px #0004;
            transform: translateY(-2px);
        }

        &:first-child {
            border-color: black;
        }

        &.add {
            border-style: dashed;
            box-shadow: none;
        }
    }
}



.history,
.rankings {
    display: flex;
    flex-direction: column;
    padding: 16px;
    list-style: none;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #0004;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .name {
        font-size: 22px;

    }

    .pts {
        font-size: 12px;
    }
}

.history li div {
    margin: 8px;
}

.history .empty {
    text-align: center;
    display: none;

    &:first-child {
        display: inline;
    }
}

@mixin medal($place, $color) {
    li:nth-child(#{$place}) .rank {
        background-color: $color;
        border-color: $color;
        box-shadow: 0px 0px 8px opacify($color, $amount: .8);
        color: black;
    }
}

.rankings {
    .rank {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 8px;
        border-radius: 100%;
        border: 1px solid #555;
        font-weight: bold;
        font-size: 24px;
        color: #555;
    }

    @include medal(1, gold);
    @include medal(2, silver);
    @include medal(3, orange);
}