* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Manrope, sans-serif;
}

html {
    height: 100vh;
    background-color: white;
    color: black;
}

body, #body {
    height: 100%;
}

.gameSelect {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;

    a {
        align-items: center;
        text-decoration: none;
        color: inherit;
        text-align: left;
        display: flex;
        flex-direction: row;
        max-width: 512px;
        width: 100%;
        border-radius: 8px;
        background-color: white;
        border: 2px solid #0002;
        box-sizing: border-box;
        transition: background-color 0.3s;
        padding: 8px;
        margin-top: 16px;

        &:hover {
            background-color: #0002;
        }

        div {
            display: block;
        }

        img {
            width: 64px;
            margin-right: 8px;
            flex-shrink: 0;
        }

        p {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}
