.MoneyPlayers {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    >ul {
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
        display: flex;
        overflow: auto;
    }
}


.player {
    background: linear-gradient(#2582ec, #2553ec);
    color: white;
    width: 196px;
    height: 96px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 4px;
    margin: 6px;
    box-shadow: 0px 4px 8px #0004;
    border-bottom: 2px solid #0008;
    transition: box-shadow ease .3s, transform ease .3s;

    &:hover {
        box-shadow: 0px 6px 12px #0004;
        transform: translateY(-2px);
    }

    &.from {
        box-shadow: 0px 8px 16px #f008;
        transform: translateY(-4px);
    }

    &.to {
        box-shadow: 0px 8px 16px #0f08;
        transform: translateY(-4px);
    }

    span {
        display: block;
        font-size: 12px;
        font-weight: 900;
    }

    &:first-child {
        background: linear-gradient(#5d813d, #476b3b);
    }

    &.add {
        background: none;
        color: #444;
        border: 2px dashed #0004;
        box-shadow: none;
        font-size: 12px;
        padding: 9px 12px;
    }
}

.history,
.rankings {
    display: flex;
    flex-direction: column;
    padding: 16px;
    list-style: none;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #0004;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .name {
        font-size: 22px;
    }

    .pts {
        font-size: 12px;
    }
}

.history li div {
    margin: 8px;
}

.history .empty {
    text-align: center;
    display: none;

    &:first-child {
        display: inline;
    }
}

@mixin medal($place, $color, $shadow) {
    li:nth-child(1) .rank {
        background-color: $color;
        border-color: $color;
        box-shadow: 0px 2px 8px $shadow;
        color: black;
    }
}

.rankings {
    .rank {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 8px;
        border-radius: 100%;
        border: 1px solid #555;
        font-weight: bold;
        font-size: 24px;
        color: #555;
    }

    @include medal(1, gold, yellow);
    @include medal(2, dodgerblue, cyan);
    @include medal(3, tomato, orange);
}